* {
    margin: 0%;
    padding: 0%;
}

#map {
    height: 180px;
}

/* CECI EST LE CSS DU FORM */

.bodyform {
    background-image: url(backgroundpic.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: (165, 165, 165, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid (255, 255, 255, 0.107);
    box-sizing: border-box;
    border-radius: 2em;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input,
textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: 0.5s ease;
}

.login-box .user-box input:focus,
textarea:focus~label,
.login-box .user-box input:valid,
textarea:valid~label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box form a {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: black;
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5 ease;
    margin-top: 50px;
    letter-spacing: 4px;
    border: 2px solid white;
}

.login-box a:hover {
    background-color: transparent;
    color: white;
}

.remember {
    color: white;
}